* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}

h4 {
    font-weight: 400;
}

body {
    background: url(../images/bg.jpg) no-repeat 0 0 / cover;
}

/* 实现rem适配 */
@media screen and (max-width: 1024px) {
    html {
        font-size: 42.66px !important;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 80px !important;
    }
}

.viewport {
    display: flex;
    margin: 0 auto;
    padding: 1.1rem 0.25rem 0;
    min-width: 1024px;
    max-width: 1920px;
    min-height: 780px;
    background: url(../images/logo.png) no-repeat 0 0 / contain;
}

.viewport .column {
    flex: 3;
}

.viewport .column:nth-child(2) {
    flex: 4;
    margin: 0.4rem 0.25rem 0;
}

/* 公共面板样式  */
.panel {
    position: relative;
    margin-bottom: 0.25rem;
    border: solid transparent;
    border-width: 0.6375rem 0.475rem 0.25rem 1.65rem;
    /* 这里选择边框宽度会挤到文字，所以下面用了个inner绝对定位修正 */
    /* 其实完全可以使用边框图片宽度，就不会挤压到文字了 */
    border-image-source: url(../images/border.png);
    border-image-slice: 51 38 20 132;
}

.inner {
    position: absolute;
    top: -0.6375rem;
    left: -1.65rem;
    right: -0.475rem;
    bottom: -0.25rem;
    padding: 0.3rem 0.45rem;
}

.panel h3 {
    color: #fff;
    font-size: 0.25rem;
    font-weight: 400;
}

/* 概览区域模块制作 */
.overview {
    height: 1.375rem;
}

.overview ul {
    display: flex;
    justify-content: space-between;
}

.overview ul li h4 {
    margin: 0 0 0.1rem 0.06rem;
    color: #fff;
    font-size: 0.35rem;
}

.overview ul li span {
    color: #4c9bfd;
    font-size: 0.2rem;
}

/* 监控区域模块制作 */
.monitor {
    height: 6rem;
}

.monitor .inner {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0;
}

.monitor .tabs {
    margin-bottom: 0.225rem;
    padding: 0 0.45rem;
}

.monitor .tabs a {
    padding: 0 0.3375rem;
    color: #1950c4;
    font-size: 0.225rem;
}

.monitor .tabs a:first-child {
    padding-left: 0;
    border-right: 0.025rem solid #00f2f1;
}

.monitor .tabs a.active {
    color: #fff;
}

.monitor .content {
    display: none;
    position: relative;
    flex: 1;
}

.monitor .head {
    display: flex;
    justify-content: space-between;
    padding: 0.15rem 0.45rem;
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 1.05;
    color: #68d8fe;
    font-size: 0.175rem;
}

.monitor .marquee-view {
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.monitor .row {
    display: flex;
    justify-content: space-between;
    padding: 0.15rem 0.45rem;
    line-height: 1.05;
    color: #61a8ff;
    font-size: 0.15rem;
}

.monitor .row:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #68d8fe;
}

.monitor .row .icon-dot {
    position: absolute;
    left: 0.2rem;
    opacity: 0;
}

.monitor .row:hover .icon-dot {
    opacity: 1;
}

.monitor .col:first-child {
    width: 1rem;
}

.monitor .col:nth-child(2) {
    width: 2.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.monitor .col:nth-child(3) {
    width: 1rem;
}

/* 通过CSS3动画滚动marquee */
.marquee-view .marquee {
    animation: move 15s linear infinite;
}

@keyframes move {
    0% {}

    100% {
        transform: translateY(-50%);
    }
}

/* 鼠标经过marquee就停止动画 */
.marquee-view .marquee:hover {
    animation-play-state: paused;
}

/* 点位分布统计模块制作 */
.point {
    height: 4.25rem;
}

.point .chart {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
}

.point .pie {
    width: 3.9rem;
    height: 3rem;
    margin-left: -0.125rem;
}

.point .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.45rem 0.375rem;
    width: 2.1rem;
    background-image: url(../images/rect.png);
    background-size: cover;
    box-sizing: border-box;
}

.point h4 {
    margin-bottom: 0.15rem;
    color: #fff;
    font-size: 0.35rem;
}

.point span {
    display: block;
    color: #4c9bfd;
    font-size: 0.2rem;
}

/* 地图模块制作 */
.map {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
    height: 7.225rem;
}

.map h3 {
    margin: 0;
    padding: 0.2rem 0;
    line-height: 1;
    color: #fff;
    font-size: 0.25rem;
    font-weight: 400;
}

.map .icon-cube {
    color: #68d8fe;
}

.map .chart {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.05);
}

.map .geo {
    width: 100%;
    height: 100%;
}

/* 用户统计模块 */
.users {
    height: 4.25rem;
}

.users .chart {
    display: flex;
    margin-top: 0.3rem;
}

.users .bar {
    width: 7.35rem;
    height: 3rem;
}

.users .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.45rem 0.375rem;
    width: 2.1rem;
    background-image: url(../images/rect.png);
    background-size: cover;
    box-sizing: border-box;
}

.users h4 {
    margin-bottom: 0.15rem;
    color: #fff;
    font-size: 0.35rem;
}

.users span {
    display: block;
    color: #4c9bfd;
    font-size: 0.2rem;
}

/* 订单模块制作 */
.order {
    height: 1.875rem;
}

.order .filter {
    display: flex;
}

.order .filter a {
    display: block;
    border-right: 0.025rem solid #00f2f1;
    padding: 0 0.225rem;
    height: 0.225rem;
    line-height: 1;
    color: #1950c4;
    font-size: 0.225rem;
}

.order .filter a:first-child {
    padding-left: 0;
}

.order .filter a:last-child {
    border-right: none;
}

.order .filter a.active {
    color: #fff;
    font-size: 0.25rem;
}

.order .data {
    display: flex;
    margin-top: 0.25rem;
}

.order .item {
    width: 50%;
}

.order h4 {
    margin-bottom: 0.125rem;
    color: #fff;
    font-size: 0.35rem;
}

.order span {
    display: block;
    color: #4c9bfd;
    font-size: 0.2rem;
}

/* 销售区域 */
.sales {
    height: 3.1rem;
}

.sales .inner {
    display: flex;
    flex-direction: column;
}

.sales .caption {
    display: flex;
    line-height: 1;
}

.sales h3 {
    border-right: 0.025rem solid #00f2f1;
    padding-right: 0.225rem;
    height: 0.225rem;
}

.sales a {
    margin: -0.0375rem 0 0 0.2625rem;
    border-radius: 0.0375rem;
    padding: 0.05rem;
    color: #0bace6;
    font-size: 0.2rem;
}

.sales a.active {
    background-color: #4c9bfd;
    color: #fff;
}

.sales .chart {
    position: relative;
    flex: 1;
    padding-top: 0.1875rem;
}

.sales .label {
    position: absolute;
    left: 0.525rem;
    top: 0.225rem;
    color: #4996f5;
    font-size: 0.175rem;
}

.sales .line {
    width: 100%;
    height: 100%;
}

/* 渠道分布以及季度销售模块 */
.wrap {
    display: flex;
}

.channel,
.quarter {
    flex: 1;
    height: 3rem;
}

.channel {
    margin-right: 0.25rem;
}

.channel .data .radar {
    width: 120%;
    height: 2.2rem;
    transform: translate(-0.2rem, .1rem);
}

/* 季度区块 */
.quarter .inner {
    display: flex;
    flex-direction: column;
    margin: 0 -0.075rem;
}

.quarter .chart {
    padding-top: 0.225rem;
    flex: 1;
}

.quarter .box {
    position: relative;
}

.quarter .label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    color: #fff;
    font-size: 0.375rem;
}

.quarter .label small {
    font-size: 50%;
}

.quarter .gauge {
    height: 1.05rem;
}

.quarter .data {
    display: flex;
    justify-content: space-between;
}

.quarter .item {
    width: 50%;
}

.quarter h4 {
    margin-bottom: 0.125rem;
    color: #fff;
    font-size: 0.3rem;
}

.quarter span {
    display: block;
    width: 100%;
    color: #4c9bfd;
    font-size: 0.175rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 全国热榜模块制作 */
.top {
    height: 3.5rem;
}

.top .inner {
    display: flex;
}

.top .all {
    display: flex;
    flex-direction: column;
    width: 2.1rem;
    vertical-align: middle;
    color: #4c9bfd;
    font-size: 0.175rem;
}

.top .all ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0.15rem;
    padding-left: 0.15rem;
    flex: 1;
}

.top .all li {
    overflow: hidden;
}

.top .all [class^="icon-"] {
    margin-right: 0.15rem;
    vertical-align: middle;
    font-size: 0.45rem;
}

.top .province {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #fff;
}

.top .province i {
    float: right;
    margin-top: 0.0625rem;
    padding: 0 0.15rem;
    color: #0bace6;
    font-size: 0.175rem;
    font-style: normal;
}

.top .province s {
    display: inline-block;
    text-decoration: none;
    transform: scale(0.8);
}

.top .province .icon-up {
    color: #dc3c33;
}

.top .province .icon-down {
    color: #36be90;
}

.top .province .data {
    flex: 1;
    display: flex;
    margin-top: 0.175rem;
}

.top .province ul {
    margin-bottom: 0.175rem;
    flex: 1;
    line-height: 1;
}

.top .province ul li {
    display: flex;
    justify-content: space-between;
}

.top .province ul span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.top .province ul.sup {
    font-size: 0.175rem;
}

.top .province ul.sup li {
    color: #4995f4;
    padding: 0.15rem;
}

.top .province ul.sup li.active {
    color: #a3c6f2;
    background-color: rgba(10, 67, 188, 0.2);
}

.top .province ul.sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(10, 67, 188, 0.2);
    font-size: 0.15rem;
}

.top .province ul.sub li {
    padding: 0.125rem 0.175rem;
    color: #52ffff;
}

.clock {
    position: absolute;
    top: -0.45rem;
    right: 0.5rem;
    color: #0bace6;
    font-size: 0.25rem;
}

.clock i {
    margin-right: 5px;
    font-size: 0.25rem;
}

@media screen and (max-width: 1600px) {
    .top span {
        transform: scale(0.9);
    }

    .top .province ul.sup li {
        padding: 0.125rem 0.15rem;
    }

    .top .province ul.sub li {
        padding: 0.0625rem 0.15rem;
    }

    .quarter span {
        transform: scale(0.9);
    }
}